@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// $footer-text-hover: #4da0db;
// $action-green: #00b5ae;
// $action-green-hover: #01cbc3;
// $antd-wave-shadow-color: #1890ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2fdfd;
}

.flags-container {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // gap: 2em;
}

.flag-tile {
  width: 10em;
  height: 10em;
  background-color: #fcfcfc;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.inner-flag-tile {
  h4 {
    color: #043A5F;
  }
}

@media only screen and (max-width: 540px) {
  .flag-tile {
    width: 5em;
    height: 8em;
  }
	
  h4 {
    font-size: 1em;
  }
}



